@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import './components/preloader';
@import './components/btn';
@import './components/layout';
@import './components/footer';
@import './components/form';
@import './components/alert';
@import './components/hero';
@import './components/product-card';
@import './components/product-details';
@import './components/admin-nav';
@import './components/category';

@import 'tailwindcss/utilities';

body {
	font-family: 'General Sans', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	font-family: 'Sentient', serif;
}

.h-calc {
	min-height: calc(100vh - theme(spacing.16));
}

@screen lg {
	.h-calc {
		height: calc(100vh - theme(spacing.16));
	}
}
